:root{
  --dark:hsl(271, 33%, 22%);
  --lavender:#b8a1d9;
  --soft-pink:#d65d9f;
  --orange:#e08b53;
  --deep-red:#940c1c;
  --card-bg:#271936;
  --text:#f4f1f8;
  --muted:#d6cfe3;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI", sans-serif;
}

body{
  background:linear-gradient(135deg, var(--dark), #2a1840);
  color:var(--text);
  line-height:1.7;
  background-image: url(jesus.jpg);
}

header{
  background:linear-gradient(to right, var(--deep-red), var(--soft-pink), var(--lavender));
  padding:15px 30px;
}

nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

nav h1{
  font-size:1.5rem;
  font-weight:700;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav a{
  color:#261019;
  text-decoration:none;
  font-weight:600;
  font-size: 15px;
}

nav a:hover{
  text-decoration:underline;
}

.hero{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  gap:40px;
  padding:60px 10%;
}

.hero img{
  width:100%;
  border-radius:18px;
}

/*.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:30px;
  padding:40px 10%;
}*/
.grid{
  display:grid;
  grid-template-columns:1fr;
  gap:40px;
  padding:40px 10%;
}

@media(max-width:900px){
  .grid-square{
    grid-template-columns:1fr;
  }
}
.two-column{
  display:grid;
  grid-template-columns:1fr;
  gap:40px;
  padding:50px 10%;
}

.card{
  background:linear-gradient(180deg, var(--card-bg), #2f1d45);
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.35);
  font-size: 1.5rem;
}

.card h2, .card h3{
  margin-bottom:15px;
  color:var(--lavender);
}

.card i{
  font-size:6rem;
  margin-bottom:10px;
  color:var(--orange);
}

.profile{
  width:100%;
  border-radius:15px;
  margin:15px 0;
}

@media(max-width:900px){
  .hero, .two-column{
    grid-template-columns:1fr;
  }
}